/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
